<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kclm.xsap.mapper.TScheduleRecordMapper">
  <resultMap id="BaseResultMap" type="com.kclm.xsap.entity.TScheduleRecord">
    <!--@mbg.generated-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="course_id" jdbcType="BIGINT" property="courseId" />
    <result column="teacher_id" jdbcType="BIGINT" property="teacherId" />
    <result column="start_date" jdbcType="DATE" property="startDate" />
    <result column="class_time" jdbcType="TIME" property="classTime" />
    <result column="limit_sex" jdbcType="VARCHAR" property="limitSex" />
    <result column="limit_age" jdbcType="INTEGER" property="limitAge" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, course_id, teacher_id, start_date, class_time, limit_sex, limit_age, create_time, 
    last_modify_time, version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_schedule_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from t_schedule_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.kclm.xsap.entity.TScheduleRecord" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_schedule_record (course_id, teacher_id, start_date, 
      class_time, limit_sex, limit_age, 
      create_time, last_modify_time, version
      )
    values (#{courseId,jdbcType=BIGINT}, #{teacherId,jdbcType=BIGINT}, #{startDate,jdbcType=DATE}, 
      #{classTime,jdbcType=TIME}, #{limitSex,jdbcType=VARCHAR}, #{limitAge,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{lastModifyTime,jdbcType=TIMESTAMP}, #{version,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.kclm.xsap.entity.TScheduleRecord" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_schedule_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="courseId != null">
        course_id,
      </if>
      <if test="teacherId != null">
        teacher_id,
      </if>
      <if test="startDate != null">
        start_date,
      </if>
      <if test="classTime != null">
        class_time,
      </if>
      <if test="limitSex != null">
        limit_sex,
      </if>
      <if test="limitAge != null">
        limit_age,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastModifyTime != null">
        last_modify_time,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="courseId != null">
        #{courseId,jdbcType=BIGINT},
      </if>
      <if test="teacherId != null">
        #{teacherId,jdbcType=BIGINT},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=DATE},
      </if>
      <if test="classTime != null">
        #{classTime,jdbcType=TIME},
      </if>
      <if test="limitSex != null">
        #{limitSex,jdbcType=VARCHAR},
      </if>
      <if test="limitAge != null">
        #{limitAge,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kclm.xsap.entity.TScheduleRecord">
    <!--@mbg.generated-->
    update t_schedule_record
    <set>
      <if test="courseId != null">
        course_id = #{courseId,jdbcType=BIGINT},
      </if>
      <if test="teacherId != null">
        teacher_id = #{teacherId,jdbcType=BIGINT},
      </if>
      <if test="startDate != null">
        start_date = #{startDate,jdbcType=DATE},
      </if>
      <if test="classTime != null">
        class_time = #{classTime,jdbcType=TIME},
      </if>
      <if test="limitSex != null">
        limit_sex = #{limitSex,jdbcType=VARCHAR},
      </if>
      <if test="limitAge != null">
        limit_age = #{limitAge,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyTime != null">
        last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kclm.xsap.entity.TScheduleRecord">
    <!--@mbg.generated-->
    update t_schedule_record
    set course_id = #{courseId,jdbcType=BIGINT},
      teacher_id = #{teacherId,jdbcType=BIGINT},
      start_date = #{startDate,jdbcType=DATE},
      class_time = #{classTime,jdbcType=TIME},
      limit_sex = #{limitSex,jdbcType=VARCHAR},
      limit_age = #{limitAge,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>