<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kclm.xsap.mapper.TScheduleRecordMapper">
  <resultMap id="BaseResultMap" type="com.kclm.xsap.entity.TScheduleRecord">
    <!--@mbg.generated-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="course_id" jdbcType="BIGINT" property="courseId" />
    <result column="teacher_id" jdbcType="BIGINT" property="teacherId" />
    <result column="start_date" jdbcType="DATE" property="startDate" />
    <result column="class_time" jdbcType="TIME" property="classTime" />
    <result column="limit_sex" jdbcType="VARCHAR" property="limitSex" />
    <result column="limit_age" jdbcType="INTEGER" property="limitAge" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, course_id, teacher_id, start_date, class_time, limit_sex, limit_age, create_time, 
    last_modify_time, version
  </sql>
  
</mapper>