<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kclm.xsap.mapper.TConsumeRecordMapper">
  <resultMap id="TConsumeRecordMap" type="com.kclm.xsap.entity.TConsumeRecord">
    <!--@mbg.generated-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="operate_type" jdbcType="VARCHAR" property="operateType" />
    <result column="card_count_change" jdbcType="INTEGER" property="cardCountChange" />
    <result column="card_day_change" jdbcType="INTEGER" property="cardDayChange" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="card_id" jdbcType="BIGINT" property="cardId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
    
    <association property="member" javaType="TMember">
    	 <id column="member_id" jdbcType="BIGINT" property="id" />
	    <result column="member_name" jdbcType="VARCHAR" property="name" />
	    <result column="sex" jdbcType="VARCHAR" property="sex" />
	    <result column="phone" jdbcType="VARCHAR" property="phone" />
	    <result column="birthday" jdbcType="DATE" property="birthday" />
	    <result column="member_note" jdbcType="VARCHAR" property="note" />
	    <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
	    <result column="is_deleted" jdbcType="BOOLEAN" property="isDeleted" />
	    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
	    <result column="version" jdbcType="INTEGER" property="version" />
    </association>
    
    <association property="card" javaType="TMemberCard">
	    <id column="card_id" jdbcType="BIGINT" property="id" />
	    <result column="card_name" jdbcType="VARCHAR" property="name" />
	    <result column="price" jdbcType="DECIMAL" property="price" />
	    <result column="description" jdbcType="VARCHAR" property="desc" />
	    <result column="card_note" jdbcType="VARCHAR" property="note" />
	    <result column="type" jdbcType="VARCHAR" property="type" />
	    <result column="total_count" jdbcType="INTEGER" property="totalCount" />
	    <result column="total_day" jdbcType="INTEGER" property="totalDay" />
	    <result column="status" jdbcType="BOOLEAN" property="status" />
	    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
	    <result column="version" jdbcType="INTEGER" property="version" />
    </association>
  </resultMap>
  <sql id="TConsumeRecord_Column_List">
    <!--@mbg.generated-->
    id, operate_type, card_count_change, card_day_change, `operator`, note, member_id, card_id
    create_time, last_modify_time, version
  </sql>
  
</mapper>