<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kclm.xsap.mapper.TCourseCardMapper">
  <resultMap id="BaseResultMap" type="com.kclm.xsap.entity.TCourseCard">
    <!--@mbg.generated-->
    <id column="card_id" jdbcType="BIGINT" property="cardId" />
    <id column="cid" jdbcType="BIGINT" property="cid" />
  </resultMap>
  
</mapper>