<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kclm.xsap.mapper.TEmployeeMapper">
  <resultMap id="BaseResultMap" type="com.kclm.xsap.entity.TEmployee">
    <!--@mbg.generated-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_password" jdbcType="VARCHAR" property="rolePassword" />
    <result column="role_type" jdbcType="BOOLEAN" property="roleType" />
    <result column="is_deleted" jdbcType="BOOLEAN" property="isDeleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, phone, sex, birthday, introduce, note, role_name, role_password, role_type, 
    is_deleted, create_time, last_modify_time, version
  </sql>
  
</mapper>