<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kclm.xsap.mapper.TMemberBindRecordMapper">
  <resultMap id="TMemberBindRecordMap" type="com.kclm.xsap.entity.TMemberBindRecord">
    <!--@mbg.generated-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="card_id" jdbcType="BIGINT" property="cardId" />
    <result column="add_count" jdbcType="INTEGER" property="addCount" />
    <result column="valid_day" jdbcType="INTEGER" property="validDay" />
    <result column="received_money" jdbcType="DECIMAL" property="receivedMoney" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <!-- 对应会员 -->
<!--     <association property="member" javaType="TMember" column="id" 
     select="com.kclm.xsap.mapper.TMemberMapper.findById"/> -->   
     <association property="member" javaType="TMember">
	     <id column="member_id" jdbcType="BIGINT" property="id" />
	    <result column="member_name" jdbcType="VARCHAR" property="name" />
	    <result column="sex" jdbcType="VARCHAR" property="sex" />
	    <result column="phone" jdbcType="VARCHAR" property="phone" />
	    <result column="birthday" jdbcType="DATE" property="birthday" />
	    <result column="member_note" jdbcType="VARCHAR" property="note" />
	    <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
	    <result column="is_deleted" jdbcType="BOOLEAN" property="isDeleted" />
	    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
	    <result column="version" jdbcType="INTEGER" property="version" />
     </association>
    <!-- 对应会员卡 -->
    <!-- <association property="card" javaType="TMemberCard" column="id" 
     select="com.kclm.xsap.mapper.TMemberCardMapper.findById"/> -->
    <association property="card" javaType="TMemberCard" >
	     <id column="card_id" jdbcType="BIGINT" property="id" />
	    <result column="card_name" jdbcType="VARCHAR" property="name" />
	    <result column="price" jdbcType="DECIMAL" property="price" />
	    <result column="desc" jdbcType="VARCHAR" property="desc" />
	    <result column="card_note" jdbcType="VARCHAR" property="note" />
	    <result column="type" jdbcType="VARCHAR" property="type" />
	    <result column="total_count" jdbcType="INTEGER" property="totalCount" />
	    <result column="total_day" jdbcType="INTEGER" property="totalDay" />
	    <result column="status" jdbcType="BOOLEAN" property="status" />
	    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
	    <result column="version" jdbcType="INTEGER" property="version" />
     </association>
  </resultMap>
  <sql id="TMemberBindRecord_Column_List">
    <!--@mbg.generated-->
    id, member_id, card_id, add_count, valid_day, received_money, note, create_time, 
    last_modify_time, version
  </sql>
  <sql id="member_sql">
  	m.id as member_id,m.name as member_name,m.sex,m.phone,m.birthday,m.note as member_note,m.avatar_url,m.is_deleted
  </sql>
  <sql id="card_sql">
   c.id as card_id,c.name as card_name,c.price,c.desc,c.note as card_note,c.type,c.total_count,c.total_day,c.status
  </sql>
  <select id="findAll" resultMap="TMemberBindRecordMap">
  		SELECT bind.*,<include refid="member_sql" />,<include refid="card_sql" /> 
  		 FROM t_member_bind_record bind,t_member m,t_member_card c 
          WHERE bind.member_id = m.id AND bind.card_id = c.id;
  </select>
</mapper>