<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kclm.xsap.mapper.TReservationRecordMapper">
  <resultMap id="TReservationRecordMap" type="com.kclm.xsap.entity.TReservationRecord">
    <!--@mbg.generated-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="status" jdbcType="BOOLEAN" property="status" />
    <result column="reserve_nums" jdbcType="INTEGER" property="reserveNums" />
    <result column="cancel_times" jdbcType="INTEGER" property="cancelTimes" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="class_note" jdbcType="VARCHAR" property="classNote" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="card_name" jdbcType="VARCHAR" property="cardName" />
    <result column="schedule_id" jdbcType="BIGINT" property="scheduleId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <!-- 关联会员 -->
    <association property="member" javaType="TMember">
    	<id column="member_id" jdbcType="BIGINT" property="id" />
	    <result column="name" jdbcType="VARCHAR" property="name" />
	    <result column="sex" jdbcType="VARCHAR" property="sex" />
	    <result column="phone" jdbcType="VARCHAR" property="phone" />
	    <result column="birthday" jdbcType="DATE" property="birthday" />
	    <result column="member_note" jdbcType="VARCHAR" property="note" />
	    <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
	    <result column="is_deleted" jdbcType="BOOLEAN" property="isDeleted" />
	    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
	    <result column="version" jdbcType="INTEGER" property="version" />
    </association>
    <!-- 关联排课计划 -->
    <association property="schedule" javaType="TScheduleRecord">
    	<id column="schedule_id" jdbcType="BIGINT" property="id" />
	    <result column="course_id" jdbcType="BIGINT" property="courseId" />
	    <result column="teacher_id" jdbcType="BIGINT" property="teacherId" />
	    <result column="order_nums" jdbcType="INTEGER" property="orderNums" />
	    <result column="start_date" jdbcType="DATE" property="startDate" />
	    <result column="class_time" jdbcType="TIME" property="classTime" />
	    <result column="limit_sex" jdbcType="VARCHAR" property="limitSex" />
	    <result column="limit_age" jdbcType="INTEGER" property="limitAge" />
	    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
	    <result column="version" jdbcType="INTEGER" property="version" />
    </association>
  </resultMap>

	<!-- 排课的全部预约记录 -->
	<resultMap id="reserveRecordViewMap" type="com.kclm.xsap.dto.ReserveRecordDTO">
	  	<id column="id" jdbcType="BIGINT" property="reserveId" />
	    <result column="member_id" jdbcType="INTEGER" property="memberId" />
	    <result column="course_id" jdbcType="INTEGER" property="courseId" />
	    <result column="member_name" jdbcType="VARCHAR" property="memberName" />
	    <result column="phone" jdbcType="TIMESTAMP" property="phone" />
	    <result column="card_name" jdbcType="VARCHAR" property="cardName" />
	    <result column="order_nums" jdbcType="INTEGER" property="reserveNumbers" />
	    <result column="times_cost" jdbcType="INTEGER" property="timesCost" />
	    <result column="create_time" jdbcType="TIMESTAMP" property="operateTime" />
	    <result column="operator" jdbcType="VARCHAR" property="operator" />
	    <result column="comment" jdbcType="VARCHAR" property="comment" />
	    <result column="note" jdbcType="VARCHAR" property="reserveNote" />
	    <result column="status" jdbcType="INTEGER" property="reserveStatus" />
 	</resultMap>
  
  	<select id="listReserveRecordView" resultMap="reserveRecordViewMap">
		SELECT reserve.`id`, mber.`id` member_id, course.`id` course_id, mber.`name` member_name,
	 mber.`phone`, reserve.`card_name`, schedules.`order_nums`, course.`times_cost`,
	 reserve.`create_time`, reserve.`operator`, reserve.`comment`, reserve.`note`, reserve.`status`
	 FROM t_reservation_record reserve 
	 LEFT JOIN t_member mber ON mber.`id` = reserve.`member_id`
	 LEFT JOIN t_schedule_record schedules ON schedules.`id` = reserve.`schedule_id`
	 LEFT JOIN t_course course ON course.`id` = schedules.`course_id`
	 LEFT JOIN t_member_card card ON card.`name` = reserve.`card_name`
	 WHERE card.`status` = 0 AND mber.`is_deleted` = 0 AND reserve.`schedule_id` = #{scheduleId};
	</select>
	<!-- 排课的已预约记录 -->
	<resultMap id="listReservedViewMap" type="com.kclm.xsap.dto.ReserveRecordDTO">
	  	<id column="id" jdbcType="BIGINT" property="reserveId" />
	    <result column="member_id" jdbcType="INTEGER" property="memberId" />
	    <result column="course_id" jdbcType="INTEGER" property="courseId" />
	    <result column="member_name" jdbcType="VARCHAR" property="memberName" />
	    <result column="phone" jdbcType="TIMESTAMP" property="phone" />
	    <result column="card_name" jdbcType="VARCHAR" property="cardName" />
	    <result column="order_nums" jdbcType="INTEGER" property="reserveNumbers" />
	    <result column="times_cost" jdbcType="INTEGER" property="timesCost" />
	    <result column="create_time" jdbcType="TIMESTAMP" property="operateTime" />
	    <result column="operator" jdbcType="VARCHAR" property="operator" />
	    <result column="note" jdbcType="VARCHAR" property="reserveNote" />
	    <result column="comment" jdbcType="VARCHAR" property="comment" />
	    <result column="status" jdbcType="INTEGER" property="reserveStatus" />
	    <result column="check_status" jdbcType="INTEGER" property="classCheck" />
  	</resultMap>
  
  	<select id="listReservedView" resultMap="listReservedViewMap">
  		SELECT reserve.`id`, mber.`id` member_id, course.`id` course_id, mber.`name` member_name,
	 mber.`phone`, reserve.`card_name`, schedules.`order_nums`, course.`times_cost`,class.`check_status`,
	 reserve.`create_time`, reserve.`operator`, reserve.`note`, reserve.`comment`, reserve.`status`
	 FROM t_reservation_record reserve 
	 LEFT JOIN t_member mber ON mber.`id` = reserve.`member_id`
	 LEFT JOIN t_schedule_record schedules ON schedules.`id` = reserve.`schedule_id`
	 LEFT JOIN t_class_record class ON class.`schedule_id` = schedules.`id`
	 LEFT JOIN t_course course ON course.`id` = schedules.`course_id`
	 LEFT JOIN t_member_card card ON card.`name` = reserve.`card_name`
	 WHERE card.`status` = 0 AND mber.`is_deleted` = 0 AND reserve.`status` = 1 
	 AND class.`reserve_check` = 1 AND reserve.`schedule_id` = #{scheduleId} 
	 GROUP BY reserve.`member_id`,reserve.`schedule_id`;
  	</select>
</mapper>