<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kclm.xsap.mapper.TScheduleRecordMapper">
  <resultMap id="TScheduleRecordMap" type="com.kclm.xsap.entity.TScheduleRecord">
    <!--@mbg.generated-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="course_id" jdbcType="BIGINT" property="courseId" />
    <result column="teacher_id" jdbcType="BIGINT" property="teacherId" />
    <result column="order_nums" jdbcType="INTEGER" property="orderNums" />
    <result column="start_date" jdbcType="DATE" property="startDate" />
    <result column="class_time" jdbcType="TIME" property="classTime" />
    <result column="limit_sex" jdbcType="VARCHAR" property="limitSex" />
    <result column="limit_age" jdbcType="INTEGER" property="limitAge" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <!-- 关联课程 -->
    <association property="course" javaType="TCourse">
    	<id column="course_id" jdbcType="BIGINT" property="id" />
	    <result column="course_name" jdbcType="VARCHAR" property="name" />
	    <result column="duration" jdbcType="INTEGER" property="duration" />
	    <result column="contains" jdbcType="INTEGER" property="contains" />
	    <result column="color" jdbcType="VARCHAR" property="color" />
	    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
	    <result column="times_cost" jdbcType="INTEGER" property="timesCost" />
	    <result column="limit_sex" jdbcType="VARCHAR" property="limitSex" />
	    <result column="limit_age" jdbcType="INTEGER" property="limitAge" />
	    <result column="limit_counts" jdbcType="INTEGER" property="limitCounts" />
	    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
	    <result column="version" jdbcType="INTEGER" property="version" />
    </association>
    <!-- 关联教师 -->
    <association property="employee" javaType="TEmployee">
    	<id column="employee_id" jdbcType="BIGINT" property="id" />
	    <result column="employee_name" jdbcType="VARCHAR" property="name" />
	    <result column="phone" jdbcType="VARCHAR" property="phone" />
	    <result column="sex" jdbcType="VARCHAR" property="sex" />
	    <result column="birthday" jdbcType="DATE" property="birthday" />
	    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
	    <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
	    <result column="note" jdbcType="VARCHAR" property="note" />
	    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
	    <result column="role_password" jdbcType="VARCHAR" property="rolePassword" />
	    <result column="role_type" jdbcType="BOOLEAN" property="roleType" />
	    <result column="role_email" jdbcType="VARCHAR" property="roleEmail" />
	    <result column="is_deleted" jdbcType="BOOLEAN" property="isDeleted" />
	    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
	    <result column="version" jdbcType="INTEGER" property="version" />
    </association>
  </resultMap>
  
  <!-- 全部排课记录 -->
  <resultMap id="listScheduleViewMap" type="com.kclm.xsap.dto.CourseScheduleDTO" >
  	<id column="id" jdbcType="BIGINT" property="scheduleId" />
    <result column="name" jdbcType="VARCHAR" property="courseName" />
    <result column="color" jdbcType="VARCHAR" property="color" />
	<result column="start_date" jdbcType="DATE" property="classDate" />
	<result column="class_time" jdbcType="TIME" property="classTime" />
    <result column="duration" jdbcType="INTEGER" property="duration" />
  </resultMap>
  
  <select id="listScheduleView" resultMap="listScheduleViewMap">
  	SELECT schedules.`id`,course.name,course.`color`,schedules.`start_date`, schedules.`class_time`,
	 course.`duration`
	 FROM t_schedule_record schedules
	 LEFT JOIN t_course course ON course.`id` = schedules.`course_id`
	 LEFT JOIN t_employee teacher ON  teacher.`id` = schedules.`teacher_id`
	 WHERE teacher.`is_deleted` = 0;
  </select>
	<!-- 排课记录基本信息，有会员卡支持时 -->
  <resultMap id="scheduleViewMap" type="com.kclm.xsap.dto.CourseScheduleDTO" >
  	<id column="id" jdbcType="BIGINT" property="scheduleId" />
    <result column="course_id" jdbcType="BIGINT" property="courseId" />
    <result column="course_name" jdbcType="VARCHAR" property="courseName" />
    <result column="color" jdbcType="VARCHAR" property="color" />
	<result column="start_date" jdbcType="DATE" property="classDate" />
	<result column="class_time" jdbcType="TIME" property="classTime" />
    <result column="duration" jdbcType="INTEGER" property="duration" />
    <result column="limit_sex" jdbcType="VARCHAR" property="limitSex" />
    <result column="limit_age" jdbcType="INTEGER" property="limitAge" />
    <result column="support_cards" jdbcType="VARCHAR" property="supportCards" />
    <result column="teacher_name" jdbcType="VARCHAR" property="teacherName" />
    <result column="contains" jdbcType="INTEGER" property="classNumbers" />
    <result column="order_nums" jdbcType="INTEGER" property="orderNums" />
    <result column="times_cost" jdbcType="INTEGER" property="timesCost" />
  </resultMap>
  
  <select id="oneScheduleView" resultMap="scheduleViewMap">
  	SELECT schedules.`id`, course.id course_id,course.name course_name, course.color,schedules.`start_date`,
  	schedules.`class_time`, course.`duration`, course.`limit_sex`, course.`limit_age`,
 GROUP_CONCAT(card.`name` SEPARATOR ' | ') support_cards , teacher.`name` teacher_name, course.`contains`,
 schedules.`order_nums`, course.`times_cost`
 FROM t_schedule_record schedules
 LEFT JOIN t_course course ON course.`id` = schedules.`course_id`
 LEFT JOIN t_course_card cocard ON cocard.`course_id` = schedules.`course_id` 
 LEFT JOIN t_employee teacher ON  teacher.`id` = schedules.`teacher_id`
 LEFT JOIN t_member_card card ON card.`id` = cocard.`card_id` WHERE  
 teacher.`is_deleted` = 0 AND card.`status` = 0 AND schedules.`id` = #{scheduleId} GROUP BY course.`name`;
  </select>
  
	<!-- 排课记录基本信息，没有会员卡支持 -->
  <resultMap id="scheduleNoCardViewMap" type="com.kclm.xsap.dto.CourseScheduleDTO" >
  	<id column="id" jdbcType="BIGINT" property="scheduleId" />
    <result column="course_id" jdbcType="BIGINT" property="courseId" />
    <result column="course_name" jdbcType="VARCHAR" property="courseName" />
    <result column="color" jdbcType="VARCHAR" property="color" />
	<result column="start_date" jdbcType="DATE" property="classDate" />
	<result column="class_time" jdbcType="TIME" property="classTime" />
    <result column="duration" jdbcType="INTEGER" property="duration" />
    <result column="limit_sex" jdbcType="VARCHAR" property="limitSex" />
    <result column="limit_age" jdbcType="INTEGER" property="limitAge" />
    <result column="support_cards" jdbcType="VARCHAR" property="supportCards" />
    <result column="teacher_name" jdbcType="VARCHAR" property="teacherName" />
    <result column="contains" jdbcType="INTEGER" property="classNumbers" />
    <result column="order_nums" jdbcType="INTEGER" property="orderNums" />
    <result column="times_cost" jdbcType="INTEGER" property="timesCost" />
  </resultMap>
  
  <select id="oneScheduleNoCardView" resultMap="scheduleNoCardViewMap">
  	SELECT schedules.`id`, course.id course_id,course.name course_name, course.color,schedules.`start_date`,
  	schedules.`class_time`, course.`duration`, course.`limit_sex`, course.`limit_age`,
 teacher.`name` teacher_name, course.`contains`, schedules.`order_nums`, course.`times_cost`
 FROM t_schedule_record schedules  
 LEFT JOIN t_course course ON course.`id` = schedules.`course_id`
 LEFT JOIN t_employee teacher ON  teacher.`id` = schedules.`teacher_id`
 WHERE teacher.`is_deleted` = 0 AND  schedules.`id` = #{scheduleId} ;
  </select>
  
  <!-- 上课记录 -->
  <resultMap id="classViewMap" type="com.kclm.xsap.dto.ClassRecordDTO" >
  	<id column="id" jdbcType="BIGINT" property="classRecordId" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="card_id" jdbcType="BIGINT" property="cardId" />
    <result column="card_name" jdbcType="VARCHAR" property="cardName" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="total_count" jdbcType="INTEGER" property="count" />
    <result column="times_cost" jdbcType="INTEGER" property="timesCost" />
    <result column="check_status" jdbcType="INTEGER" property="checkStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="operateTime" />
    <association property="member" javaType="TMember">
    	<id column="member_id" jdbcType="BIGINT" property="id" />
    	<result column="member_name" jdbcType="VARCHAR" property="name" />
    	<result column="phone" jdbcType="VARCHAR" property="phone" />
    	<result column="sex" jdbcType="VARCHAR" property="sex" />
    	<result column="birthday" jdbcType="DATE" property="birthday" />
    </association>
  </resultMap>
  
  <select id="listClassView" resultMap="classViewMap">
  	SELECT class.id, mber.id member_id,mber.`name` member_name, mber.phone, mber.`sex`,
 mber.`birthday`, card.id card_id, card.name card_name, card.`price`,
 card.`total_count`, course.times_cost, class.`check_status`, class.`create_time`
 FROM t_class_record class 
 LEFT JOIN t_schedule_record schedules ON class.`schedule_id` = schedules.`id` 
 LEFT JOIN t_course course ON course.`id` = schedules.`course_id` 
 LEFT JOIN t_member mber ON mber.`id` = class.`member_id` 
 LEFT JOIN t_member_card card ON card.`name` = class.`card_name`
 WHERE card.`status` = 0 AND mber.`is_deleted` = 0 AND class.`reserve_check` = 1  
 AND schedules.`id` = #{scheduleId};
  </select>
</mapper>